header{
    background-color: #183e49;
color:rgb(255, 0, 0);
padding:20px;
}

body{background-color: #6e8a8b; /* Fondo gris claro */

}
p{
    color: rgb(105, 10, 7);
}

*{
    font-size: 32px;
    text-align: center;
}
nav{
    background-color: rgb(57, 178, 182);
    padding: 10px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
li{
    margin: 50px;
    display: inline;
    text-align: justify;
}
footer{
    background-color: aqua;
}